.hero {
	padding: 130px 0;
	background-image: url('../img/hero__bg.webp');
	background-position: 50vw 60px;
	background-repeat: no-repeat;
	//background-size: 960px 1336px;
	background-size: 67vw 380vh;

	@media (max-width: 900px) {
		background-position: 130vh 50px;
	}

	&__h2 {
		margin-bottom: 30px;
		max-width: 450px;
		font-size: 60px;
		letter-spacing: 0px;
		color: $color-top;
	}

	&__p {
		margin-bottom: 32px;
		max-width: 450px;
		line-height: 150%;
		color: $color-p;
	}

	&__btn {
		padding: 23px 0;
		width: 255px;
		text-align: center;
	}
}
