.hero {
	padding: 130px 0;

	&__h2 {
		margin-bottom: 30px;
		max-width: 450px;
		font-size: 60px;
		letter-spacing: 0px;
	}

	&__p {
		margin-bottom: 32px;
		max-width: 450px;
		line-height: 150%;
	}

	&__btn {
		width: 255px;
		text-align: center;
	}
}
