.footer {
	background-color: $color-top;
}

.footer__container {
	padding: 28px 50px;
	display: flex;
	justify-content: space-between;
	@media (max-width: 769px) {
		padding: 28px 39px;
	}
}

.footer__socials {
	gap: 30px;
}

.footer__aside {
	padding: 3px 0;
	text-align: center;
	font-size: 13px;
	text-transform: uppercase;
	background-color: #fff;

	&_gray {
		color: #bcbcbc;
	}
}
