@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

.header {
	padding: 28px 0 24px 0;
	color: $color-top;
	border-bottom: 1px solid #dddddd;
	@media (max-width: 769px) {
		padding: 0;
	}
}

.header__container {
	@include flex-js-sb;
	@media (max-width: 769px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 45px 60px;
		padding: 0 35px 0 39px;
	}
}

.header__logo {
	@media (max-width: 769px) {
		padding: 10px 0;
		justify-content: flex-end;
	}
}

.header__line {
	display: none;
	@media (max-width: 769px) {
		position: absolute;
		top: 45px;
		left: 0;
		display: block;
		width: 768px;
		height: 1px;
		background-color: rgb(221, 221, 221);
	}
}

.header__nav {
	@media (max-width: 769px) {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;
		display: flex;
		align-items: center;
		width: 100%;
	}

	&-list {
		gap: 10px 61px;
		flex-wrap: wrap;
		justify-content: center;
		@media (max-width: 930px) {
			/* gap: 0 30px; */
			gap: 15px;
		}
		@media (max-width: 769px) {
			width: 100%;
			justify-content: space-between;
			gap: initial;
		}
	}

	&-link {
		color: $color-top;
		&:visited {
			color: $color-top;
		}
		&:hover {
			color: $color-link;
		}
		&:focus {
			padding: 4px 4px 4px 4px;
			//color: $color-top;
		}
		&:active {
			padding: 0;
			color: $color-link-active;
		}
	}
}

.header__buttons {
	display: flex;
	@media (max-width: 769px) {
		padding: 10px 0;
		justify-content: flex-end;
	}
}

.header__search-btn {
	padding: 0;
	margin-left: 60px;
	border: none;
	background-color: transparent;
	@media (max-width: 930px) {
		margin-left: 30px;
	}
	&:hover &__icon path {
		stroke: $color-link;
		@include transition;
	}
	&:focus {
		background-color: #dad9fb;
		outline: none;
	}
	&:active {
		background-color: transparent;
	}

	&:focus &__icon path {
		stroke: $color-link;
	}
	&:active &__icon path {
		stroke: $color-link-active;
	}
}

.header__search {
	position: relative;
	margin-left: 7px;
	width: 0px;
	border-bottom: 1px solid $color-top;
	//transform: translateX(100px);
	opacity: 0;
	transition: all 1s ease;
	overflow: hidden;
	&_open {
		width: 150px;
		max-height: 26px;
		//transform: translateX(0);
		opacity: 1;
	}
	&-input {
		width: auto;
		max-width: 130px;
		vertical-align: top;
		color: $color-top;
		&::placeholder {
			font-size: 1.25rem;
			color: #d1d1e5;
		}
	}

	&-close {
		position: absolute;
		right: 210px;
		width: 20px;
		height: 20px;
		padding: 2px;
		border: none;
		background-color: transparent;
		opacity: 0;
		@include transition;
		&_visible {
			top: 2px;
			right: -2px;
			opacity: 1;
		}
		&:hover {
			background-color: transparent;
		}
		&:focus {
			border: none;
			background-color: transparent;
		}

		&:hover &__icon {
			circle {
				fill: $color-link;
				@include transition;
			}
			path {
				stroke: #fff;
				@include transition;
			}
		}
		&:focus &__icon {
			circle {
				fill: $color-link-focus_bg;
				stroke: $color-link;
			}
		}
		&:active &__icon {
			circle {
				fill: $color-link-active;
				stroke: none;
			}
		}
	}
}

.header__login-link {
	margin-left: 23px;
	@media (max-width: 930px) {
		margin-left: 5px;
	}
	@media (max-width: 769px) {
		margin-left: 20px;
	}
	&:hover {
		background-color: transparent;
	}
	&:focus {
		background-color: $color-link-focus_bg;
	}
	&:active {
		background-color: transparent;
	}

	&:hover &__icon {
		path {
			stroke: $color-link;
			@include transition;
		}
	}
	&:focus &__icon {
		path {
			stroke: $color-link;
		}
	}
	&:active &__icon {
		path {
			stroke: $color-link-active;
		}
	}
}

.header__search-btn,
.header__login-link {
	width: 24px;
	height: 24px;
	cursor: pointer;
	@include transition;
}
