.partners {
	padding: 90px 0;
	background-color: $color-bg;
	@media (max-width: 769px) {
		padding: 62px 0;
	}
}

.partners__list {
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px 30px;
}

.partners__item {
	&-link {
		width: 255px;
		height: 135px;
		border: 1px solid #c4c4c4;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (max-width: 769px) {
			width: 150px;
			height: 80px;
		}

		&:focus {
			background-color: transparent;
		}
	}
}
